*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.about{
    background: url(../../images/background-image/bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.sec-bg{
    background: url(../../images/homepage/Ellipse4.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
}
.text-title{
    height: fit-content;

}
.about-images{
    position: relative;
}
.img{
    position: absolute;
    bottom: -130px;
    left: -50px;
}
.bg-container{
    background: url(../../images/homepage/Rectangle7.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
.img-2{
   
    transform: translate(120px , -20px);
}
.bg{
    background: url(../../images/background-image/image19.png);
    background-size: 1065px;
    background-position: right bottom;
    background-repeat: no-repeat;
    height: fit-content;
}
.sec-3{
    background-color: antiquewhite;
}
.learn{
    background: url(../../images/homepage/Ellipse3.png);
    background-size: 400px;
    background-position: right top;
    background-repeat: no-repeat;
}
.learn-bg{
    background: url(../../images/background-image/image22.png);
    background-position: left right;
    background-size: 1300px;
    background-repeat: no-repeat;
}
.img-sec{
    background: url(../../images/homepage/Ellipse5.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}