@import "../../App.css";

.header {
    width: 100%;
    height: 380px;
    background: var(--background-color) url("../../images/image\ 15.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width:991px) {
    header {
        position: relative;
        top: 100px;
    }
}