@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

:root{
    --primary-color: #73B9D7;
    --Dark-color:#000;
    --Light-color:#fff;
    --font-weight-normal: 500;
    --font-family-Roboto: "Roboto", sans-serif;
    --font-family-MontaguSlab: "Montagu Slab", serif;
    --background-color: #FFD79A9C;
}
body{
    font-family: var(--font-family-Roboto);
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}