@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");

$primary-color: #73b9d7;
$Dark-color: #000;
$Light-color: #fff;
$font-weight-normal: 500;
$font-family-Roboto: "Roboto", sans-serif;
$font-family-MontaguSlab: "Montagu Slab", serif;
$background-color: #ffd79a9c;

:root {
  --primary-color: #73b9d7;
  --Dark-color: #000;
  --Light-color: #fff;
  --font-weight-normal: 500;
  --font-family-Roboto: "Roboto", sans-serif;
  --font-family-MontaguSlab: "Montagu Slab", serif;
  --background-color: #ffd79a9c;
}

body {
  font-family: $font-family-Roboto;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

input,
textarea {
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  padding: 6px;
}

input:focus,
textarea:focus {
  outline: transparent;
}

.error {
  color: red;
}
