@import "../../App.css";
.contaner {
  width: 400px !important;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background: var(--primary-color);
  border: none;
}
.signUp{
    background: url("../../images/signup/signup-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}